<html lang="es">
<br></br>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administracion</title>
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center">Preguntas frecuentes</h1>
      <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes unicos en el mes.
                    </a>
                    <ul class="dropdown-menu">
                      <h1>{{clientesunicos}}</h1>
                    </ul>
      </li>
      <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ofertas.
                    </a>
                    <ul class="dropdown-menu">
                      <h1>{{ofertasActiva}}</h1>
                    </ul>
      </li>
      <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Empleado del mes.
                    </a>
                    <ul class="dropdown-menu">
                      <h1>{{empleadogood}}</h1>
                    </ul>
      </li>
      <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Prenda mas vendida:
                    </a>
                    <ul class="dropdown-menu">
                      <h1>{{prendav}}</h1>
                    </ul>
      </li>

      <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Margen de ganancia:
                    </a>
                    <ul class="dropdown-menu">
                      <h1>{{balancetotal}}</h1>
                    </ul>
      </li>
      <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">clientes que han realizado mas de una compra:
                    </a>
                    <ul class="dropdown-menu">
                      <h1>{{cliente}}</h1>
                    </ul>
      </li>
      <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Genero mas comprado: 
                    </a>
                    <ul class="dropdown-menu">
                      <h1>{{vgenero}}</h1>
                    </ul>
      </li>
      <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Producto mas caro: 
                    </a>
                    <ul class="dropdown-menu">
                      <h1>{{productomascaro}}</h1>
                    </ul>
      </li>
      <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cantidad de empleados que tienen mas de 5 horas extras: 
                    </a>
                    <ul class="dropdown-menu">
                      <h1>{{horasextras}}</h1>
                    </ul>
      </li>

      <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cliente que mas ha invertido dinero:
                    </a>
                    <ul class="dropdown-menu">
                      <h1>{{mayordinero}}</h1>
                    </ul>
      </li>
  </div>
</body>
</html>